{% extends "base.html" %}

{% block content %}

<div class="container-blog">
	    <div id="content">
			  <h2>Once upon a time...</h2>
			
			    <form method="post">
			      <label class="post-label">
			        <input type="text" placeholder="Subject" name="subject" value="{{subject}}">
			      </label>
			
			      <label class="post-label">
			        <textarea placeholder="Blog post" name="content">{{content}}</textarea>
			      </label>
			
			      <div class="error">{{error}}</div>
			
			      <input type="submit" value="awesome">
			    </form>
	    </div>
</div>
{% endblock %}
